In [1]:
import numpy as np
import pandas as pd
from scipy import special
from random import sample
import itertools
from datetime import timedelta
from IPython.display import display
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import math
import re

In [2]:
arquivoOrigemA = 'datasets/result/dados_cat_202001.csv'
arquivoOrigemB = 'datasets/result/dados_cat_202002.csv'
arquivoOrigemC = 'datasets/result/dados_cat_202003.csv'
nomeArquivoResultado = 'datasets/result/dados_cat_2020.csv'

nomeArquivoCid = 'datasets/result/dados_cid_2020.csv'
nomeArquivoUF = 'datasets/result/dados_uf_2020.csv'
nomeArquivoCBO = 'datasets/result/dados_cbo_2020.csv'

In [3]:
dados_originaisA = pd.read_csv(arquivoOrigemA, sep = ';', header=0)
dados_originaisB = pd.read_csv(arquivoOrigemB, sep = ';', header=0)
dados_originaisC = pd.read_csv(arquivoOrigemC, sep = ';', header=0)

df_originalA = pd.DataFrame(data = dados_originaisA)
df_originalB = pd.DataFrame(data = dados_originaisB)
df_originalC = pd.DataFrame(data = dados_originaisC)

In [4]:
#df_original.shape[0] #117439

df_result = pd.concat([df_originalA, df_originalB, df_originalC], ignore_index= True)
df_result.index = range(df_result.shape[0])
df_result.shape[0]   #273997

270152

In [5]:
df_result.head()

,agente,cbo,cid,cnae,obito,natureza,parte,sexo,tipo_acidente,uf_emp,idade,anoMes
0,"Vidraria, Fibra de V",322230,S610,9491,Não,Lesao Imediata,Dedo,Feminino,Típico,São Paulo,43.0,202001
1,Agente Infeccioso ou,322205,Z209,8610,Não,"Corte, Laceracao, Fe",Dedo,Feminino,Típico,Ceará,33.0,202001
2,{ñ class},322205,Y289,8610,Não,"Corte, Laceracao, Fe",Dedo,Masculino,Típico,São Paulo,38.0,202001
3,"Motor, Bomba, Turbin",314410,S610,1012,Não,"Corte, Laceracao, Fe",Dedo,Masculino,Típico,Santa Catarina,32.0,202001
4,Ferramenta Portatil,724315,S610,2599,Não,"Corte, Laceracao, Fe",Dedo,Masculino,Típico,Minas Gerais,44.0,202001

In [6]:
df_result.to_csv(nomeArquivoResultado, sep = ';', index=False)

In [7]:
#Análise dos 10 CIDs de maior incidência em 2020:
df_cid = (df_result['cid'].value_counts().to_frame().reset_index()).sort_values('cid', ascending=False)
df_cid.rename(columns={"index": "cid", "cid": "qtde"}, inplace=True)
df_cid_mais = df_cid.head(10).copy()
df_cid_mais.index.name='id'
df_cid_mais.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10 entries, 0 to 9
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cid     10 non-null     object
 1   qtde    10 non-null     int64
dtypes: int64(1), object(1)
memory usage: 240.0+ bytes

In [8]:
df_cid_mais.head()

     cid   qtde
id
0   S610  17097
1   B342  12325
2   S611   9690
3   Z209   9507
4   S626   8427

In [9]:
df_cid_mais.to_csv(nomeArquivoCid, sep = ';', index=False)

In [10]:
#qtde total de casos de ocorrência no dataFrame com os 10 maiores CIDs por ordem de ocorrência em 2020:
df_cid_mais['qtde'].sum()  #84402

83838

In [11]:
#Análise das 10 UFs de maior incidência de CAT em 2020:
df_uf = (df_result['uf_emp'].value_counts().to_frame().reset_index()).sort_values('uf_emp', ascending=False)
df_uf.rename(columns={"index": "uf_emp", "uf_emp": "qtde"}, inplace=True)
df_uf_mais = df_uf.head(10).copy()
df_uf_mais.index.name='id'
df_uf_mais.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10 entries, 0 to 9
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   uf_emp  10 non-null     object
 1   qtde    10 non-null     int64
dtypes: int64(1), object(1)
memory usage: 240.0+ bytes

In [12]:
df_uf_mais.head(10)

               uf_emp   qtde
id
0           São Paulo  95423
1        Minas Gerais  29667
2   Rio Grande do Sul  23743
3              Paraná  21736
4      Santa Catarina  17341
5      Rio de Janeiro  16048
6               Goiás   7911
7               Bahia   7134
8         Mato Grosso   7052
9      Espírito Santo   6907

In [13]:
#qtde total de casos de ocorrência no dataFrame com os 10 maiores UFs por ordem de ocorrência em 2020:
df_uf_mais['qtde'].sum() #236188

232962

In [14]:
df_uf_mais.to_csv(nomeArquivoUF, sep = ';', index=False)

In [15]:
#Análise das 10 CBOs de maior incidência de CAT em 2020:
df_cbo = (df_result['cbo'].value_counts().to_frame().reset_index()).sort_values('cbo', ascending=False)
df_cbo.rename(columns={"index": "cbo", "cbo": "qtde"}, inplace=True)
df_cbo_mais = df_cbo.head(10).copy()
df_cbo_mais.index.name='id'
df_cbo_mais.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10 entries, 0 to 9
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cbo     10 non-null     int64
 1   qtde    10 non-null     int64
dtypes: int64(2)
memory usage: 240.0 bytes

In [16]:
df_cbo_mais.head(10)

       cbo   qtde
id
0   322205  24453
1   784205  16431
2   514320   9963
3   782510   6883
4   223505   6265
5   717020   5890
6   514205   4509
7   322230   4331
8   848520   3838
9   521125   3603

In [17]:
#qtde total de casos de ocorrência no dataFrame com os 10 maiores CBOs por ordem de ocorrência em 2020:
df_cbo_mais['cbo'].sum() #5549845

5549845

In [18]:
df_cbo_mais.to_csv(nomeArquivoCBO, sep = ';', index=False)