In [1]:
import numpy as np
import pandas as pd
from scipy import special
from random import sample
import itertools
from datetime import timedelta
from IPython.display import display
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import math
import re

In [2]:
arquivoOrigemA = 'datasets/result/dados_cat_202001.csv'
arquivoOrigemB = 'datasets/result/dados_cat_202002.csv'
arquivoOrigemC = 'datasets/result/dados_cat_202003.csv'
nomeArquivoResultado = 'datasets/result/dados_cat_2020.csv'

nomeArquivoCid = 'datasets/result/2020/dados_cid_2020.csv'
nomeArquivoUF = 'datasets/result/2020/dados_uf_2020.csv'
nomeArquivoCBO = 'datasets/result/2020/dados_cbo_2020.csv'
nomeArquivoAnoMes = 'datasets/result/2020/dados_anoMes_2020.csv'
nomeArquivoCNAE = 'datasets/result/2020/dados_cnae_2020.csv'
nomeArquivoParte = 'datasets/result/2020/dados_parte_2020.csv'
nomeArquivoSexo = 'datasets/result/2020/dados_sexo_2020.csv'
nomeArquivoIdade = 'datasets/result/2020/dados_idade_2020.csv'
nomeArquivoObitos = 'datasets/result/2020/dados_obitos_2020.csv'
nomeArquivoTipoAcidente = 'datasets/result/2020/dados_tipoAcidente_2020.csv'
nomeArquivoNatureza = 'datasets/result/2020/dados_natureza_2020.csv'

In [3]:
columns_types = {'agente': str, 'cbo': int, 'cid': str, 'cnae': int, 'obito': str, 'natureza': str, 'parte': str, 'sexo': str, 
                 'tipo_acidente': str, 'uf_emp': str, 'idade': int, 'anoMes': str}

nomes  = ['agente', 'cbo', 'cid', 'cnae', 'obito', 'natureza', 'parte', 'sexo', 'tipo_acidente', 'uf_emp', 'idade', 'anoMes']

dados_originaisA = pd.read_csv(arquivoOrigemA, sep = ';', header=0, names=nomes, dtype=columns_types, encoding='utf8')
dados_originaisB = pd.read_csv(arquivoOrigemB, sep = ';', header=0, names=nomes, dtype=columns_types, encoding='utf8')
dados_originaisC = pd.read_csv(arquivoOrigemC, sep = ';', header=0, names=nomes, dtype=columns_types, encoding='utf8')

df_originalA = pd.DataFrame(data = dados_originaisA)
df_originalB = pd.DataFrame(data = dados_originaisB)
df_originalC = pd.DataFrame(data = dados_originaisC)

In [4]:
df_result = pd.concat([df_originalA, df_originalB, df_originalC], ignore_index= True)
df_result.index = range(df_result.shape[0])
df_result.shape[0]   #270534 -> qtde total de acidentes analisados de 2020

270152

In [5]:
df_result.to_csv(nomeArquivoResultado, sep = ';', index=False, encoding='UTF-8')

In [6]:
#Análise dos 20 CIDs de maior incidência em 2020:
df_cid = pd.DataFrame(df_result['cid'].value_counts())
df_cid.rename(columns={"id": "cid", "cid": "qtde"}, inplace=True)
df_cid_mais = df_cid.head(20).copy()
df_cid_mais.index.name='cid'

df_cid_mais.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20 entries, S610 to S822
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   qtde    20 non-null     int64
dtypes: int64(1)
memory usage: 320.0+ bytes

In [7]:
df_cid_mais.head(20)

       qtde
cid
S610  17097
B342  12325
S611   9690
Z209   9507
S626   8427
S934   8026
S600   6463
S800   5151
S900   3630
S619   3522
T077   3223
S602   3153
M255   2802
S622   2550
M545   2506
S525   2487
S400   2444
Z042   2297
S923   2278
S822   2145

In [8]:
df_cid_mais.to_csv(nomeArquivoCid, sep = ';', encoding='UTF-8')

In [9]:
#qtde total de casos de ocorrência no dataFrame com os 10 maiores CIDs por ordem de ocorrência em 2020:
df_cid_mais['qtde'].sum()  #109885

109723

In [10]:
#Análise das 10 UFs de maior incidência de CAT em 2020:
df_uf = pd.DataFrame(df_result['uf_emp'].value_counts())
df_uf.rename(columns={"uf_emp": "qtde"}, inplace=True)
df_uf_mais = df_uf.head(30).copy()
df_uf_mais.index.name='uf_emp'
df_uf_mais.info()

<class 'pandas.core.frame.DataFrame'>
Index: 27 entries, São Paulo to Acre
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   qtde    27 non-null     int64
dtypes: int64(1)
memory usage: 432.0+ bytes

In [11]:
df_uf_mais.head(20)

                      qtde
uf_emp
São Paulo            95423
Minas Gerais         29667
Rio Grande do Sul    23743
Paraná               21736
Santa Catarina       17341
Rio de Janeiro       16048
Goiás                 7911
Bahia                 7134
Mato Grosso           7052
Espírito Santo        6907
Pernambuco            5245
Ceará                 4913
Mato Grosso do Sul    4779
Pará                  4466
Distrito Federal      3274
Amazonas              2633
Rio Grande do Norte   1859
Rondônia              1717
Maranhão              1637
Alagoas               1407

In [12]:
#qtde total de casos de ocorrência no dataFrame com os 10 maiores UFs por ordem de ocorrência em 2020:
df_uf_mais['qtde'].sum() #236188

270152

In [13]:
df_uf_mais.to_csv(nomeArquivoUF, sep = ';', encoding='UTF-8')

In [14]:
#Análise das 20 CBOs de maior incidência de CAT em 2020:
df_cbo = pd.DataFrame(df_result['cbo'].value_counts())
df_cbo.rename(columns={"cbo": "qtde"}, inplace=True)
df_cbo_mais = df_cbo.head(20).copy()
df_cbo_mais.index.name='cbo'
df_cbo_mais.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20 entries, 322205 to 519110
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   qtde    20 non-null     int64
dtypes: int64(1)
memory usage: 320.0 bytes

In [15]:
df_cbo_mais.head(20)

         qtde
cbo
322205  24453
784205  16431
514320   9963
782510   6883
223505   6265
717020   5890
514205   4509
322230   4331
848520   3838
521125   3603
848510   3586
911305   3393
783225   3128
513505   3114
521110   3069
411005   2929
724315   2798
862150   2693
411010   2621
519110   2557

In [16]:
#qtde total de casos de ocorrência no dataFrame com os 20 maiores CBOs por ordem de ocorrência em 2020:
df_cbo_mais['qtde'].sum() #86776

116054

In [17]:
df_cbo_mais.to_csv(nomeArquivoCBO, sep = ';', encoding='UTF-8')

In [18]:
#Análise da incidência dos acidentes em meses de 2020:
df_mes = pd.DataFrame(df_result['anoMes'].value_counts())
df_mes.rename(columns={"anoMes": "qtde"}, inplace=True)
df_mes_mais = df_mes.head(12).copy()
df_mes_mais.index.name='anoMes'

df_mes_mais.head(12)

         qtde
anoMes
202007  37543
202008  36409
202006  33442
202009  29832
202002  29508
202005  29139
202001  28046
202003  27331
202004  18901
202010      1

In [19]:
df_mes_mais.to_csv(nomeArquivoAnoMes, sep = ';', encoding='UTF-8')

In [20]:
#Análise da incidência dos acidentes por CNAE:
df_cnae = pd.DataFrame(df_result['cnae'].value_counts())
df_cnae.rename(columns={"cnae": "qtde"}, inplace=True)

df_cnae_mais = df_cnae.head(20).copy()
df_cnae_mais.index.name='cnae'

df_cnae_mais.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20 entries, 8610 to 8690
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   qtde    20 non-null     int64
dtypes: int64(1)
memory usage: 320.0 bytes

In [21]:
df_cnae_mais.head(20)

       qtde
cnae
8610  38982
4711  10999
1012   8850
4930   7477
8411   6744
4120   5246
3811   4474
1011   3945
5611   3708
5310   3215
8630   3208
8640   2964
4744   2947
8121   2693
1071   2675
5620   2628
7820   2453
8660   2186
4221   2128
8690   2118

In [22]:
#qtde total de casos de ocorrência no dataFrame com os 20 maiores CNAEs por ordem de ocorrência em 2020:
df_cnae_mais['qtde'].sum() #

119640

In [23]:
df_cnae_mais.to_csv(nomeArquivoCNAE, sep = ';', encoding='UTF-8')

In [24]:
#Análise da incidência dos acidentes por parte do corpo atingida:
df_parte = pd.DataFrame(df_result['parte'].value_counts())
df_parte.rename(columns={"parte": "qtde"}, inplace=True)

df_parte_mais = df_parte.head(20).copy()
df_parte_mais.index.name='parte'

df_parte_mais.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20 entries, Dedo to Sistemas e Aparelhos
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   qtde    20 non-null     int64
dtypes: int64(1)
memory usage: 320.0+ bytes

In [25]:
df_parte_mais.head(20)

                       qtde
parte
Dedo                  67586
Pe (Exceto Artelhos)  21512
Mao (Exceto Punho ou  18619
Aparelho Respiratori  14291
Joelho                11734
Partes Multiplas - A  10887
Perna (Do Tornozelo,   9932
Olho (Inclusive Nerv   8584
Perna (Entre O Torno   8505
Ombro                  8045
Articulacao do Torno   7925
Membros Superiores,    7440
Cabeca, Nic            7141
Punho                  6971
Braco (Entre O Punho   6775
Membros Inferiores,    6134
Antebraco (Entre O P   5662
Dorso (Inclusive Mus   5212
Face, Partes Multipl   4382
Sistemas e Aparelhos   3770

In [26]:
#qtde total de casos de ocorrência no dataFrame com os 20 maiores CNAEs por ordem de ocorrência em 2020:
df_parte_mais['qtde'].sum() #

241107

In [27]:
df_parte_mais.to_csv(nomeArquivoParte, sep = ';', encoding='UTF-8')

In [28]:
#Análise da incidência dos acidentes, separados por sexo (M ou F):
df_sexo = pd.DataFrame(df_result['sexo'].value_counts())
df_sexo.rename(columns={"sexo": "qtde"}, inplace=True)

df_sexo_mais = df_sexo.head(5).copy()  # pode haver alguma opção para 'não informado'
df_sexo_mais.index.name='sexo'

df_sexo_mais.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, Masculino to Indeterminado
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   qtde    4 non-null      int64
dtypes: int64(1)
memory usage: 64.0+ bytes

In [29]:
df_sexo_mais.head()

                 qtde
sexo
Masculino      181122
Feminino        88214
Não Informado     807
Indeterminado       9

In [30]:
#qtde total de casos de ocorrência no dataFrame com os 20 maiores CNAEs por ordem de ocorrência em 2020:
df_sexo_mais['qtde'].sum() #

270152

In [31]:
df_sexo_mais.to_csv(nomeArquivoSexo, sep = ';', encoding='UTF-8')

In [32]:
df_result['idade'].min() #10 ???

10

In [33]:
selecao = df_result['idade'] < 14 # idade mínima para jovem aprendiz é de 14 anos, porém foi encontrado 1 registro < 14
df_min = df_result[selecao]
df_min.head(10)
df_min.shape[0]   # <=20 -> 9024    <=14 -> 2    <= 15 -> 7

1

In [34]:
df_result['idade'].max()  #86

86

In [35]:
classes = [13, 19, 24, 29, 34, 39, 44, 49, 54, 59, 64, 69, 100]
faixas = pd.cut(df_result.idade, classes)

In [36]:
pd.value_counts(faixas)

(29, 34]     43350
(24, 29]     43095
(34, 39]     43069
(19, 24]     37307
(39, 44]     35618
(44, 49]     26049
(49, 54]     19202
(54, 59]     12534
(59, 64]      4655
(13, 19]      3551
(64, 69]      1333
(69, 100]      388
Name: idade, dtype: int64

In [37]:
labels = ['14 a 19 anos: ', '20 a 24 anos:', '25 a 29 anos:', '30 a 34 anos:', '35 a 39 anos:', '40 a 44 anos:', 
          '45 a 49 anos:', '50 a 54 anos:', '55 a 59 anos:', '60 a 64 anos:', '65 a 69 anos:', '70 a 100 anos:']
faixas_labels = pd.cut(df_result.idade, classes, labels = labels)
pd.value_counts(faixas_labels)

30 a 34 anos:     43350
25 a 29 anos:     43095
35 a 39 anos:     43069
20 a 24 anos:     37307
40 a 44 anos:     35618
45 a 49 anos:     26049
50 a 54 anos:     19202
55 a 59 anos:     12534
60 a 64 anos:      4655
14 a 19 anos:      3551
65 a 69 anos:      1333
70 a 100 anos:      388
Name: idade, dtype: int64

In [38]:
df_faixasEtarias = pd.DataFrame(pd.value_counts(faixas_labels))

In [39]:
df_faixasEtarias.head(10)

                idade
30 a 34 anos:   43350
25 a 29 anos:   43095
35 a 39 anos:   43069
20 a 24 anos:   37307
40 a 44 anos:   35618
45 a 49 anos:   26049
50 a 54 anos:   19202
55 a 59 anos:   12534
60 a 64 anos:    4655
14 a 19 anos:    3551

In [40]:
df_faixasEtarias['desc_faixa'] = df_faixasEtarias.index

In [41]:
df_faixasEtarias.head(10)

                idade      desc_faixa
30 a 34 anos:   43350   30 a 34 anos:
25 a 29 anos:   43095   25 a 29 anos:
35 a 39 anos:   43069   35 a 39 anos:
20 a 24 anos:   37307   20 a 24 anos:
40 a 44 anos:   35618   40 a 44 anos:
45 a 49 anos:   26049   45 a 49 anos:
50 a 54 anos:   19202   50 a 54 anos:
55 a 59 anos:   12534   55 a 59 anos:
60 a 64 anos:    4655   60 a 64 anos:
14 a 19 anos:    3551  14 a 19 anos:

In [42]:
df_faixasEtarias.index = range(df_faixasEtarias.shape[0])
df_faixasEtarias.index.name = 'id'
df_faixasEtarias.rename(columns={"idade": "qtde"}, inplace=True)
df_faixasEtarias.head(10)

     qtde      desc_faixa
id
0   43350   30 a 34 anos:
1   43095   25 a 29 anos:
2   43069   35 a 39 anos:
3   37307   20 a 24 anos:
4   35618   40 a 44 anos:
5   26049   45 a 49 anos:
6   19202   50 a 54 anos:
7   12534   55 a 59 anos:
8    4655   60 a 64 anos:
9    3551  14 a 19 anos:

In [43]:
df_faixasEtarias.to_csv(nomeArquivoIdade, sep = ';', encoding='UTF-8')
df_faixasEtarias['qtde'].sum()

270151

In [44]:
#Análise da incidência de óbitos decorrentes dos acidente:
df_obitos = pd.DataFrame(df_result['obito'].value_counts())
df_obitos.rename(columns={"obito": "qtde"}, inplace=True)

df_obitos_mais = df_obitos.head(5).copy()  # pode haver alguma opção para 'não informado'
df_obitos_mais.index.name='obito'

df_obitos_mais.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, Não to Sim
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   qtde    2 non-null      int64
dtypes: int64(1)
memory usage: 32.0+ bytes

In [45]:
df_obitos_mais.head()

         qtde
obito
Não    268926
Sim      1226

In [46]:
#qtde total de casos de ocorrência no dataFrame:
df_obitos_mais['qtde'].sum() #

270152

In [47]:
df_obitos_mais.to_csv(nomeArquivoObitos, sep = ';', encoding='UTF-8')

In [48]:
#Análise da incidência de tipos de acidentes:
df_tipos = pd.DataFrame(df_result['tipo_acidente'].value_counts())
df_tipos.rename(columns={"tipo_acidente": "qtde"}, inplace=True)

df_tipos_mais = df_tipos.head(20).copy()  # pode haver alguma opção para 'não informado'
df_tipos_mais.index.name='tipo_acidente'

df_tipos_mais.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, Típico to Doença
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   qtde    3 non-null      int64
dtypes: int64(1)
memory usage: 48.0+ bytes

In [49]:
df_tipos_mais.head(20)

                 qtde
tipo_acidente
Típico         217484
Trajeto         34581
Doença          18087

In [50]:
#qtde total de casos de ocorrência no dataFrame:
df_tipos_mais['qtde'].sum() #270152

270152

In [51]:
df_tipos_mais.to_csv(nomeArquivoTipoAcidente, sep = ';', encoding='UTF-8')

In [52]:
#Análise da incidência da natureza de acidentes:
df_natureza = pd.DataFrame(df_result['natureza'].value_counts())
df_natureza.rename(columns={"natureza": "qtde"}, inplace=True)

df_natureza_mais = df_natureza.head(20).copy()  # pode haver alguma opção para 'não informado'
df_natureza_mais.index.name='natureza'

df_natureza_mais.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20 entries, Corte, Laceracao, Fe to Envenenamento Sistem
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   qtde    20 non-null     int64
dtypes: int64(1)
memory usage: 320.0+ bytes

In [53]:
df_natureza_mais.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20 entries, Corte, Laceracao, Fe to Envenenamento Sistem
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   qtde    20 non-null     int64
dtypes: int64(1)
memory usage: 320.0+ bytes

In [54]:
df_natureza_mais.head(20)

                       qtde
natureza
Corte, Laceracao, Fe  52862
Fratura               45017
Lesao Imediata, Nic   34575
Contusao, Esmagament  28810
Distensao, Torcao     19540
Escoriacao, Abrasao   16713
Luxacao               16124
Doenca Contagiosa ou  12687
Doenca, Nic           11000
Lesoes Multiplas       9221
Queimadura ou Escald   6632
Lesao Imediata         2952
Amputacao ou Enuclea   2458
Inflamacao de Articu   2451
Queimadura Quimica (   2050
Perda ou Diminuicao    1599
{ñ class}               996
Concussao Cerebral      918
Outras Lesoes, Nic      809
Envenenamento Sistem    706

In [55]:
#qtde total de casos de ocorrência no dataFrame:
df_natureza_mais['qtde'].sum() # 268120

268120

In [56]:
df_natureza_mais.to_csv(nomeArquivoNatureza, sep = ';', encoding='UTF-8')