In [1]:
import numpy as np
import pandas as pd
from random import sample
#import itertools
from datetime import timedelta
%matplotlib inline
import math

from dateutil.relativedelta import *
from datetime import date
from datetime import datetime


def formatarStr (DataFrame, columns):
    for col in columns:
        DataFrame[col] = DataFrame[col].str.strip()
        
def calcularIdade(dtNasc):
    try:
        if dtNasc == 0: 
            return np.nan
        else: 
            today = date.today()
            dob = datetime.strptime(str(dtNasc), '%d/%m/%Y').date()
            age = relativedelta(today, dob)
            return age.years
    except (RuntimeError, TypeError, NameError, ValueError):
        return np.nan

def calcularAnoMes(dtAcid): 
    if len(dtAcid) == 10:
        anoMesStr = dtAcid[6:]+dtAcid[3:5]
    elif len(dtAcid) == 7:
        anoMesStr = dtAcid.replace('/', '')
    return anoMesStr

In [2]:
#iso-8859-1
#nomeArquivoOrigem = 'datasets/origem/cat-comp01-02-03-2020.csv'
#nomeArquivoResultado2020 = 'datasets/result/dados_cat_202001.csv'
#nomeArquivoResultado2019 = 'datasets/result/dados_cat_2019A.csv'

#utf-8
#nomeArquivoOrigem = 'datasets/origem/cat-competencia-04-05-06-2020.csv'
#nomeArquivoResultado2020 = 'datasets/result/dados_cat_202002.csv'
#nomeArquivoResultado2019 = 'datasets/result/dados_cat_2019B.csv'

#utf-8
nomeArquivoOrigem = 'datasets/origem/cat-competencia-07-08-09-2020.csv'
nomeArquivoResultado2020 = 'datasets/result/dados_cat_202003.csv'
nomeArquivoResultado2019 = 'datasets/result/dados_cat_2019C.csv'


columns_types = {'agente': str, 'dt_acidente': str, 'cbo': int, 'cbo_desc': str, 'cid': str, 'cid_desc': str, 
                 'cnae': int, 'cnae_desc': str, 'emitente': str, 'especie': str, 'filiacao': str, 
                 'obito': str, 'munic_emp': str, 'natureza': str, 'origem': str, 'parte': str, 'sexo': str, 
                 'tipo_acidente': str, 'uf_acidente': str, 'uf_emp': str, 'dt_afast': str, 'dt_despacho': str, 'dt_acid': str, 
                 'dt_nasc': str, 'dt_emissao': str}

nomes  = ['agente', 'dt_acidente', 'cbo', 'cbo_desc', 'cid', 'cid_desc', 'cnae', 'cnae_desc', 'emitente', 'especie', 
          'filiacao', 'obito', 'munic_emp', 'natureza', 'origem', 'parte', 'sexo', 'tipo_acidente', 'uf_acidente', 'uf_emp', 
          'dt_afast', 'dt_despacho', 'dt_acid', 'dt_nasc', 'dt_emissao']


dados_originais = pd.read_csv(nomeArquivoOrigem, sep = ';', header=0, names=nomes, dtype=columns_types, encoding='utf-8')

df_original = pd.DataFrame(data = dados_originais, columns=nomes)
df_original.shape[0] #117439

117439

In [3]:
df_original.head()

,agente,dt_acidente,cbo,cbo_desc,cid,cid_desc,cnae,cnae_desc,emitente,especie,...,parte,sexo,tipo_acidente,uf_acidente,uf_emp,dt_afast,dt_despacho,dt_acid,dt_nasc,dt_emissao
0,Maquina Textil,01/01/2020,761005,761005-Oper. Polival,S529,S52.9 Frat do Antebr,1340,"Acabamentos em Fios,",Empregador,Pa,...,Antebraco (Entre O P,Masculino,Típico,Maranhão,São Paulo,2020/01,0000/00,27/01/2020,24/06/1975,31/07/2020
1,Metal - Inclui Liga,01/03/2020,782405,782405-Motorista de,S810,S81.0 Ferim do Joelh,4930,Transporte Rodoviari,Empregador,Pa,...,Joelho,Masculino,Típico,Pará,Rio Grande do Sul,2020/06,0000/00,02/03/2020,17/06/1978,06/07/2020
2,Reacao do Corpo a Mo,01/03/2020,517310,517310-Agente de Seg,S836,S83.6 Entorse Disten,4912,Transporte Metroferr,Empregador,Pa,...,Joelho,Masculino,Típico,Maranhão,São Paulo,2020/07,0000/00,03/03/2020,21/02/1985,27/07/2020
3,"Madeira (Toro, Madei",01/04/2020,783225,783225-Ajudante de M,S058,S05.8 Outr Traum do,4682,Comercio Atacadista,Empregador,Pa,...,Olho (Inclusive Nerv,Masculino,Típico,Tocantins,Rio de Janeiro,2020/06,0000/00,25/04/2020,24/06/1981,15/07/2020
4,"Equip. Eletrico, Nic",01/05/2020,771105,771105-Marceneiro,S602,S60.2 Contusao de Ou,4789,Comercio Varejista d,Empregador,Pa,...,Dedo,Feminino,Típico,Maranhão,São Paulo,2020/07,0000/00,25/05/2020,21/11/1983,24/07/2020

In [4]:
df_cat = pd.DataFrame(df_original[['agente', 'dt_acidente', 'cbo', 'cid', 'cnae', 'obito', 'natureza', 'parte','sexo', 'tipo_acidente', 
                   'uf_emp', 'dt_nasc']])

formatarStr(df_cat, ['agente', 'dt_acidente', 'cid', 'obito', 'natureza', 'parte', 'sexo', 'tipo_acidente', 'uf_emp', 
                     'dt_nasc'])
df_cat.head(10)

,agente,dt_acidente,cbo,cid,cnae,obito,natureza,parte,sexo,tipo_acidente,uf_emp,dt_nasc
0,Maquina Textil,01/01/2020,761005,S529,1340,Não,Fratura,Antebraco (Entre O P,Masculino,Típico,São Paulo,24/06/1975
1,Metal - Inclui Liga,01/03/2020,782405,S810,4930,Não,"Contusao, Esmagament",Joelho,Masculino,Típico,Rio Grande do Sul,17/06/1978
2,Reacao do Corpo a Mo,01/03/2020,517310,S836,4912,Não,"Distensao, Torcao",Joelho,Masculino,Típico,São Paulo,21/02/1985
3,"Madeira (Toro, Madei",01/04/2020,783225,S058,4682,Não,Perda ou Diminuicao,Olho (Inclusive Nerv,Masculino,Típico,Rio de Janeiro,24/06/1981
4,"Equip. Eletrico, Nic",01/05/2020,771105,S602,4789,Não,"Contusao, Esmagament",Dedo,Feminino,Típico,São Paulo,21/11/1983
5,Chao - Superficie Ut,01/06/2020,519935,S622,1071,Não,Fratura,Mao (Exceto Punho ou,Masculino,Típico,São Paulo,20/01/1972
6,"Ser Vivo, Nic",01/06/2020,415205,F439,5310,Não,"Doenca, Nic",Sistema Nervoso,Masculino,Típico,Rio de Janeiro,27/09/1992
7,"Veiculo, Nic",01/06/2020,415205,T077,5310,Não,"Lesao Imediata, Nic",Perna (Entre O Torno,Masculino,Típico,São Paulo,30/10/1984
8,Ferramenta Manual se,01/06/2020,784205,S610,2229,Não,"Corte, Laceracao, Fe",Dedo,Masculino,Típico,São Paulo,20/02/1974
9,Metal - Inclui Liga,01/06/2020,725310,S518,2833,Não,"Corte, Laceracao, Fe",Antebraco (Entre O P,Masculino,Típico,Rio Grande do Sul,28/03/1999

In [5]:
print('Dados ausentes, por coluna: ')
# verificar se, nas colunas mais importantes, há registros com o valor {ñ class}:
f_agente = df_cat[df_cat['agente'] == '{ñ class}'].shape[0] #
print('agente: {}'.format(f_agente))
f_cbo = df_cat[df_cat['cbo'] == '{ñ class}'].shape[0]  #
print('cbo: {}'.format(f_cbo))
f_cid = df_cat[df_cat['cid'] == '{ñ class}'].shape[0]  #
print('cid: {}'.format(f_cid))
f_cnae = df_cat[df_cat['cnae'] == '{ñ class}'].shape[0]  #
print('cnae: {}'.format(f_cnae))
f_obito = df_cat[df_cat['obito'] == '{ñ class}'].shape[0]  #
print('obito: {}'.format(f_obito))
f_natureza = df_cat[df_cat['natureza'] == '{ñ class}'].shape[0]  #
print('natureza: {}'.format(f_natureza))
f_parte = df_cat[df_cat['parte'] == '{ñ class}'].shape[0]  # 
print('parte: {}'.format(f_parte))
f_sexo = df_cat[df_cat['sexo'] == '{ñ class}'].shape[0]  #
print('sexo: {}'.format(f_sexo))
f_tipo = df_cat[df_cat['tipo_acidente'] == '{ñ class}'].shape[0]  #
print('tipo: {}'.format(f_tipo))
f_uf = df_cat[df_cat['uf_emp'] == '{ñ class}'].shape[0]  #
print('uf: {}'.format(f_uf))

#se necessário, apagar as linhas cujo valor de algum campo importante seja nulo
df_cat.drop(df_cat[df_cat['parte'] == '{ñ class}'].index, inplace = True)

df_cat.shape[0] #117169

df_cat.info()

Dados ausentes, por coluna:
agente: 6814
cbo: 0
cid: 0
cnae: 0
obito: 0
natureza: 551
parte: 270
sexo: 0
tipo: 0
uf: 0
<class 'pandas.core.frame.DataFrame'>
Int64Index: 117169 entries, 0 to 117438
Data columns (total 12 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   agente         117169 non-null  object
 1   dt_acidente    117169 non-null  object
 2   cbo            117169 non-null  int32
 3   cid            117169 non-null  object
 4   cnae           117169 non-null  int32
 5   obito          117169 non-null  object
 6   natureza       117169 non-null  object
 7   parte          117169 non-null  object
 8   sexo           117169 non-null  object
 9   tipo_acidente  117169 non-null  object
 10  uf_emp         117169 non-null  object
 11  dt_nasc        117088 non-null  object
dtypes: int32(2), object(10)
memory usage: 10.7+ MB

In [6]:
#tratamento dos valores nulos de 'dt_nasc':
df_cat.fillna(0, inplace = True)
df_cat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 117169 entries, 0 to 117438
Data columns (total 12 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   agente         117169 non-null  object
 1   dt_acidente    117169 non-null  object
 2   cbo            117169 non-null  int32
 3   cid            117169 non-null  object
 4   cnae           117169 non-null  int32
 5   obito          117169 non-null  object
 6   natureza       117169 non-null  object
 7   parte          117169 non-null  object
 8   sexo           117169 non-null  object
 9   tipo_acidente  117169 non-null  object
 10  uf_emp         117169 non-null  object
 11  dt_nasc        117169 non-null  object
dtypes: int32(2), object(10)
memory usage: 10.7+ MB

In [7]:
df_cat['idade'] = df_cat['dt_nasc'].apply(lambda x: calcularIdade(x))
df_cat.head(5)

,agente,dt_acidente,cbo,cid,cnae,obito,natureza,parte,sexo,tipo_acidente,uf_emp,dt_nasc,idade
0,Maquina Textil,01/01/2020,761005,S529,1340,Não,Fratura,Antebraco (Entre O P,Masculino,Típico,São Paulo,24/06/1975,45.0
1,Metal - Inclui Liga,01/03/2020,782405,S810,4930,Não,"Contusao, Esmagament",Joelho,Masculino,Típico,Rio Grande do Sul,17/06/1978,42.0
2,Reacao do Corpo a Mo,01/03/2020,517310,S836,4912,Não,"Distensao, Torcao",Joelho,Masculino,Típico,São Paulo,21/02/1985,36.0
3,"Madeira (Toro, Madei",01/04/2020,783225,S058,4682,Não,Perda ou Diminuicao,Olho (Inclusive Nerv,Masculino,Típico,Rio de Janeiro,24/06/1981,39.0
4,"Equip. Eletrico, Nic",01/05/2020,771105,S602,4789,Não,"Contusao, Esmagament",Dedo,Feminino,Típico,São Paulo,21/11/1983,37.0

In [8]:
df_cat[df_cat['idade'].isnull()].shape[0]  
# 81 campos faltantes na coluna, por não haver dt_nasc

81

In [9]:
df_cat[df_cat['idade'].isnull()].head(5)
# 1158
# 2681

,agente,dt_acidente,cbo,cid,cnae,obito,natureza,parte,sexo,tipo_acidente,uf_emp,dt_nasc,idade
1158,Escada Movel ou Fixa,01/06/2020,514320,S620,4753,Não,Fratura,Punho,Não Informado,Típico,São Paulo,0,NaN
2681,Agente Infeccioso ou,01/06/2020,515215,S699,8610,Não,"Corte, Laceracao, Fe",Dedo,Não Informado,Típico,Mato Grosso do Sul,0,NaN
8123,Maquina Agricola,01/07/2020,622610,S611,161,Não,Fratura,Dedo,Não Informado,Típico,Minas Gerais,0,NaN
8700,Animal Vivo,01/07/2020,519110,S622,4771,Não,Fratura,Punho,Não Informado,Típico,São Paulo,0,NaN
8705,"Veiculo, Nic",01/07/2020,342610,S022,5231,Não,Fratura,"Face, Partes Multipl",Não Informado,Típico,Rio de Janeiro,0,NaN

In [10]:
mediaIdades = math.floor(df_cat['idade'].mean())
mediaIdades

36

In [11]:
df_cat.fillna(mediaIdades, inplace=True)

df_cat.isnull().sum()

agente           0
dt_acidente      0
cbo              0
cid              0
cnae             0
obito            0
natureza         0
parte            0
sexo             0
tipo_acidente    0
uf_emp           0
dt_nasc          0
idade            0
dtype: int64

In [12]:
df_cat.columns.name = 'caracteristica'
df_cat.index.name = "id"
df_cat[df_cat.index == 1158]

caracteristica,agente,dt_acidente,cbo,cid,cnae,obito,natureza,parte,sexo,tipo_acidente,uf_emp,dt_nasc,idade
id,,,,,,,,,,,,,
1158,Escada Movel ou Fixa,01/06/2020,514320,S620,4753,Não,Fratura,Punho,Não Informado,Típico,São Paulo,0,36.0

In [13]:
#criar coluna anoMes e deletar a dt_acidente
df_cat['anoMes'] = df_cat['dt_acidente'].apply(lambda x: calcularAnoMes(x))
df_cat.head()

caracteristica,agente,dt_acidente,cbo,cid,cnae,obito,natureza,parte,sexo,tipo_acidente,uf_emp,dt_nasc,idade,anoMes
id,,,,,,,,,,,,,,
0,Maquina Textil,01/01/2020,761005,S529,1340,Não,Fratura,Antebraco (Entre O P,Masculino,Típico,São Paulo,24/06/1975,45.0,202001
1,Metal - Inclui Liga,01/03/2020,782405,S810,4930,Não,"Contusao, Esmagament",Joelho,Masculino,Típico,Rio Grande do Sul,17/06/1978,42.0,202003
2,Reacao do Corpo a Mo,01/03/2020,517310,S836,4912,Não,"Distensao, Torcao",Joelho,Masculino,Típico,São Paulo,21/02/1985,36.0,202003
3,"Madeira (Toro, Madei",01/04/2020,783225,S058,4682,Não,Perda ou Diminuicao,Olho (Inclusive Nerv,Masculino,Típico,Rio de Janeiro,24/06/1981,39.0,202004
4,"Equip. Eletrico, Nic",01/05/2020,771105,S602,4789,Não,"Contusao, Esmagament",Dedo,Feminino,Típico,São Paulo,21/11/1983,37.0,202005

In [14]:
df_cat.drop(['dt_acidente', 'dt_nasc'], axis=1, inplace = True)
df_cat.head()

caracteristica,agente,cbo,cid,cnae,obito,natureza,parte,sexo,tipo_acidente,uf_emp,idade,anoMes
id,,,,,,,,,,,,
0,Maquina Textil,761005,S529,1340,Não,Fratura,Antebraco (Entre O P,Masculino,Típico,São Paulo,45.0,202001
1,Metal - Inclui Liga,782405,S810,4930,Não,"Contusao, Esmagament",Joelho,Masculino,Típico,Rio Grande do Sul,42.0,202003
2,Reacao do Corpo a Mo,517310,S836,4912,Não,"Distensao, Torcao",Joelho,Masculino,Típico,São Paulo,36.0,202003
3,"Madeira (Toro, Madei",783225,S058,4682,Não,Perda ou Diminuicao,Olho (Inclusive Nerv,Masculino,Típico,Rio de Janeiro,39.0,202004
4,"Equip. Eletrico, Nic",771105,S602,4789,Não,"Contusao, Esmagament",Dedo,Feminino,Típico,São Paulo,37.0,202005

In [15]:
df_cat.shape[0]

117169

In [16]:
#apagando os acidentes cujo anoMes não foi preenchido corretamente
condicao = df_cat['anoMes'].str.match('^[0-9]+$') == False
indexItensInvalidos = df_cat[condicao].index

df_cat.drop(indexItensInvalidos, inplace=True)
df_cat.shape[0] #

117169

In [17]:
#apagando as linhas de cujo campo 'cnae' foi preenchido com um código cnae inválido (0)
condicao_cnae_invalido = df_cat['cnae'] == 0
df_cat.drop(df_cat[condicao_cnae_invalido].index, inplace = True)
df_cat.shape[0] #

115340

In [18]:
#separando os acidentes que aconteceram em 2020 dos que aconteceram em 2019:
condicao2020 = df_cat['anoMes'].str.match('^2020[0-9]+') == True
df_cat2020 = df_cat[condicao2020].copy()
df_cat2020.shape[0] #

condicao2019 = df_cat['anoMes'].str.match('^2019[0-9]+') == True
df_cat2019 = df_cat[condicao2019].copy()
df_cat2019.shape[0] #

0

In [19]:
df_cat2020.to_csv(nomeArquivoResultado2020, sep = ';', index=False, encoding='UTF-8')

In [20]:
if(df_cat2019.shape[0] > 0):
    df_cat2019.to_csv(nomeArquivoResultado2019, sep = ';', index=False, encoding='UTF-8')