In [1]:
import numpy as np
import pandas as pd
from scipy import special
from random import sample
import itertools
from datetime import timedelta
from IPython.display import display
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import math
import re

In [2]:
#os dados dos dois primeiros trimestres de 2018 não estão disponíveis da mesma forma na plataforma
arquivoOrigemA = 'datasets/result/dados_cat_201803.csv'
arquivoOrigemB = 'datasets/result/dados_cat_201804.csv'
nomeArquivoResultado = 'datasets/result/dados_cat_2018.csv'

nomeArquivoCid = 'datasets/result/2018/dados_cid_2018.csv'
nomeArquivoUF = 'datasets/result/2018/dados_uf_2018.csv'
nomeArquivoCBO = 'datasets/result/2018/dados_cbo_2018.csv'
nomeArquivoAnoMes = 'datasets/result/2018/dados_anoMes_2018.csv'
nomeArquivoCNAE = 'datasets/result/2018/dados_cnae_2018.csv'
nomeArquivoParte = 'datasets/result/2018/dados_parte_2018.csv'
nomeArquivoSexo = 'datasets/result/2018/dados_sexo_2018.csv'
nomeArquivoIdade = 'datasets/result/2018/dados_idade_2018.csv'
nomeArquivoObitos = 'datasets/result/2018/dados_obitos_2018.csv'
nomeArquivoTipoAcidente = 'datasets/result/2018/dados_tipoAcidente_2018.csv'
nomeArquivoNatureza = 'datasets/result/2018/dados_natureza_2018.csv'

In [3]:
columns_types = {'agente': str, 'cbo': int, 'cid': str, 'cnae': int, 'obito': str, 'natureza': str, 'parte': str, 'sexo': str, 
                 'tipo_acidente': str, 'uf_emp': str, 'idade': int, 'anoMes': str}

nomes  = ['agente', 'cbo', 'cid', 'cnae', 'obito', 'natureza', 'parte', 'sexo', 'tipo_acidente', 'uf_emp', 'idade', 'anoMes']

dados_originaisA = pd.read_csv(arquivoOrigemA, sep = ';', header=0, names=nomes, dtype=columns_types, encoding='utf8')
dados_originaisB = pd.read_csv(arquivoOrigemB, sep = ';', header=0, names=nomes, dtype=columns_types, encoding='utf8')


df_originalA = pd.DataFrame(data = dados_originaisA)
df_originalB = pd.DataFrame(data = dados_originaisB)

In [4]:
df_result = pd.concat([df_originalA, df_originalB], ignore_index= True)
df_result.index = range(df_result.shape[0])
df_result.shape[0]   # -> qtde total de acidentes analisados de 2018

241806

In [5]:
df_result.to_csv(nomeArquivoResultado, sep = ';', index=False, encoding='UTF-8')

In [6]:
#Análise dos 20 CIDs de maior incidência em 2018:
df_cid = pd.DataFrame(df_result['cid'].value_counts())
df_cid.rename(columns={"id": "cid", "cid": "qtde"}, inplace=True)
df_cid_mais = df_cid.head(20).copy()
df_cid_mais.index.name='cid'

df_cid_mais.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20 entries, S610 to S420
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   qtde    20 non-null     int64
dtypes: int64(1)
memory usage: 320.0+ bytes

In [7]:
df_cid_mais.head(20)

       qtde
cid
S610  14498
S934   9349
S626   7158
Z209   6496
S800   5375
S600   5046
S61    4196
S602   3431
T07    3398
S611   3396
M255   2803
S900   2770
S619   2755
M545   2625
S400   2574
S525   2330
S62    2208
S903   2204
S923   2183
S420   1898

In [8]:
df_cid_mais.to_csv(nomeArquivoCid, sep = ';', encoding='UTF-8')

In [9]:
#qtde total de casos de ocorrência no dataFrame com os 10 maiores CIDs por ordem de ocorrência em 2018:
df_cid_mais['qtde'].sum()  #109885

86693

In [10]:
#Análise das 20 UFs de maior incidência de CAT em 2018:
df_uf = pd.DataFrame(df_result['uf_emp'].value_counts())
df_uf.rename(columns={"uf_emp": "qtde"}, inplace=True)
df_uf_mais = df_uf.head(30).copy()
df_uf_mais.index.name='uf_emp'
df_uf_mais.info()

<class 'pandas.core.frame.DataFrame'>
Index: 27 entries, São Paulo to Amapá
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   qtde    27 non-null     int64
dtypes: int64(1)
memory usage: 432.0+ bytes

In [11]:
df_uf_mais.head(20)

                      qtde
uf_emp
São Paulo            90297
Minas Gerais         24062
Rio Grande do Sul    19773
Paraná               19629
Rio de Janeiro       16096
Santa Catarina       13996
Goiás                 6857
Espírito Santo        5721
Bahia                 5569
Mato Grosso           5276
Pernambuco            5116
Ceará                 4955
Mato Grosso do Sul    4214
Pará                  3902
Distrito Federal      3136
Amazonas              2275
Rio Grande do Norte   1851
Rondônia              1692
Alagoas               1508
Maranhão              1410

In [12]:
#qtde total de casos de ocorrência no dataFrame com os 10 maiores UFs por ordem de ocorrência em 2020:
df_uf_mais['qtde'].sum() #236188

241806

In [13]:
df_uf_mais.to_csv(nomeArquivoUF, sep = ';', encoding='UTF-8')

In [14]:
#Análise das 20 CBOs de maior incidência de CAT em 2018:
df_cbo = pd.DataFrame(df_result['cbo'].value_counts())
df_cbo.rename(columns={"cbo": "qtde"}, inplace=True)
df_cbo_mais = df_cbo.head(20).copy()
df_cbo_mais.index.name='cbo'
df_cbo_mais.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20 entries, 322205 to 514225
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   qtde    20 non-null     int64
dtypes: int64(1)
memory usage: 320.0 bytes

In [15]:
df_cbo_mais.head(20)

         qtde
cbo
322205  14578
784205  13985
514320   9206
782510   5764
717020   4685
521110   4222
411005   3944
411010   3551
521125   3453
514205   3378
322230   3312
415205   3233
223505   3180
513505   3175
783225   2952
848510   2905
513205   2840
911305   2815
414105   2733
514225   2699

In [16]:
#qtde total de casos de ocorrência no dataFrame com os 20 maiores CBOs por ordem de ocorrência em 2018:
df_cbo_mais['qtde'].sum() #86776

96610

In [17]:
df_cbo_mais.to_csv(nomeArquivoCBO, sep = ';', encoding='UTF-8')

In [18]:
#Análise da incidência dos acidentes em meses de 2018:
df_mes = pd.DataFrame(df_result['anoMes'].value_counts())
df_mes.rename(columns={"anoMes": "qtde"}, inplace=True)
df_mes_mais = df_mes.head(12).copy()
df_mes_mais.index.name='anoMes'

df_mes_mais.head(12)

         qtde
anoMes
201808  44441
201810  43448
201807  40512
201809  37875
201811  37546
201812  27952
201806   7145
201805   1174
201804    670
201803    498
201802    295
201801    250

In [19]:
df_mes_mais.to_csv(nomeArquivoAnoMes, sep = ';', encoding='UTF-8')

In [20]:
#Análise da incidência dos acidentes por CNAE:
df_cnae = pd.DataFrame(df_result['cnae'].value_counts())
df_cnae.rename(columns={"cnae": "qtde"}, inplace=True)

df_cnae_mais = df_cnae.head(20).copy()
df_cnae_mais.index.name='cnae'

df_cnae_mais.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20 entries, 8610 to 2949
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   qtde    20 non-null     int64
dtypes: int64(1)
memory usage: 320.0 bytes

In [21]:
df_cnae_mais.head(20)

       qtde
cnae
8610  25754
4711   9918
4930   6424
8411   6193
1012   5204
5611   5118
5310   4536
4120   4378
1011   3825
3811   3636
8121   2954
1071   2795
5620   2591
4744   2459
8640   2362
7820   2334
8630   2298
4921   2045
4530   1871
2949   1830

In [22]:
#qtde total de casos de ocorrência no dataFrame com os 20 maiores CNAEs por ordem de ocorrência em 2018:
df_cnae_mais['qtde'].sum() #

98525

In [23]:
df_cnae_mais.to_csv(nomeArquivoCNAE, sep = ';', encoding='UTF-8')

In [24]:
#Análise da incidência dos acidentes por parte do corpo atingida:
df_parte = pd.DataFrame(df_result['parte'].value_counts())
df_parte.rename(columns={"parte": "qtde"}, inplace=True)

df_parte_mais = df_parte.head(20).copy()
df_parte_mais.index.name='parte'

df_parte_mais.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20 entries, Dedo to Cabeca, Partes Multi
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   qtde    20 non-null     int64
dtypes: int64(1)
memory usage: 320.0+ bytes

In [25]:
df_parte_mais.head(20)

                       qtde
parte
Dedo                  56395
Pe (Exceto Artelhos)  19670
Mao (Exceto Punho ou  17647
Joelho                12949
Partes Multiplas - A  11296
Articulacao do Torno  10300
Perna (Do Tornozelo,   8763
Antebraco (Entre O P   8514
Ombro                  8157
Perna (Entre O Torno   8149
Braco (Entre O Punho   7805
Cabeca, Nic            7258
Dorso (Inclusive Mus   6943
Olho (Inclusive Nerv   6714
Membros Superiores,    6255
Punho                  5893
Membros Inferiores,    5589
Sistema Nervoso        4075
Face, Partes Multipl   4012
Cabeca, Partes Multi   2929

In [26]:
#qtde total de casos de ocorrência no dataFrame com os 20 maiores CNAEs por ordem de ocorrência em 2018:
df_parte_mais['qtde'].sum() #

219313

In [27]:
df_parte_mais.to_csv(nomeArquivoParte, sep = ';', encoding='UTF-8')

In [28]:
#Análise da incidência dos acidentes, separados por sexo (M ou F):
df_sexo = pd.DataFrame(df_result['sexo'].value_counts())
df_sexo.rename(columns={"sexo": "qtde"}, inplace=True)

df_sexo_mais = df_sexo.head(5).copy()  # pode haver alguma opção para 'não informado'
df_sexo_mais.index.name='sexo'

df_sexo_mais.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, Masculino to Indeterminado
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   qtde    4 non-null      int64
dtypes: int64(1)
memory usage: 64.0+ bytes

In [29]:
df_sexo_mais.head()

                 qtde
sexo
Masculino      160788
Feminino        81002
Não Informado      14
Indeterminado       2

In [30]:
#qtde total de casos de ocorrência no dataFrame com os 20 maiores CNAEs por ordem de ocorrência em 2018:
df_sexo_mais['qtde'].sum() #

241806

In [31]:
df_sexo_mais.to_csv(nomeArquivoSexo, sep = ';', encoding='UTF-8')

In [32]:
df_result['idade'].min() #10 ???

10

In [33]:
selecao = df_result['idade'] < 14 # idade mínima para jovem aprendiz é de 14 anos, porém foi encontrado 1 registro < 14
df_min = df_result[selecao]
df_min.head(10)
df_min.shape[0]   # <=20 -> 9024    <=14 -> 2    <= 15 -> 7

2

In [34]:
df_result['idade'].max()  #86

95

In [35]:
classes = [13, 19, 24, 29, 34, 39, 44, 49, 54, 59, 64, 69, 100]
faixas = pd.cut(df_result.idade, classes)

In [36]:
pd.value_counts(faixas)

(29, 34]     40314
(34, 39]     39420
(24, 29]     37997
(39, 44]     32621
(19, 24]     24642
(44, 49]     24544
(49, 54]     18811
(54, 59]     13132
(59, 64]      6747
(64, 69]      2263
(69, 100]      778
(13, 19]       535
Name: idade, dtype: int64

In [37]:
labels = ['14 a 19 anos: ', '20 a 24 anos:', '25 a 29 anos:', '30 a 34 anos:', '35 a 39 anos:', '40 a 44 anos:', 
          '45 a 49 anos:', '50 a 54 anos:', '55 a 59 anos:', '60 a 64 anos:', '65 a 69 anos:', '70 a 100 anos:']
faixas_labels = pd.cut(df_result.idade, classes, labels = labels)
pd.value_counts(faixas_labels)

30 a 34 anos:     40314
35 a 39 anos:     39420
25 a 29 anos:     37997
40 a 44 anos:     32621
20 a 24 anos:     24642
45 a 49 anos:     24544
50 a 54 anos:     18811
55 a 59 anos:     13132
60 a 64 anos:      6747
65 a 69 anos:      2263
70 a 100 anos:      778
14 a 19 anos:       535
Name: idade, dtype: int64

In [38]:
df_faixasEtarias = pd.DataFrame(pd.value_counts(faixas_labels))

In [39]:
df_faixasEtarias.head(10)

               idade
30 a 34 anos:  40314
35 a 39 anos:  39420
25 a 29 anos:  37997
40 a 44 anos:  32621
20 a 24 anos:  24642
45 a 49 anos:  24544
50 a 54 anos:  18811
55 a 59 anos:  13132
60 a 64 anos:   6747
65 a 69 anos:   2263

In [40]:
df_faixasEtarias['desc_faixa'] = df_faixasEtarias.index

In [41]:
df_faixasEtarias.head(10)

               idade     desc_faixa
30 a 34 anos:  40314  30 a 34 anos:
35 a 39 anos:  39420  35 a 39 anos:
25 a 29 anos:  37997  25 a 29 anos:
40 a 44 anos:  32621  40 a 44 anos:
20 a 24 anos:  24642  20 a 24 anos:
45 a 49 anos:  24544  45 a 49 anos:
50 a 54 anos:  18811  50 a 54 anos:
55 a 59 anos:  13132  55 a 59 anos:
60 a 64 anos:   6747  60 a 64 anos:
65 a 69 anos:   2263  65 a 69 anos:

In [42]:
df_faixasEtarias.index = range(df_faixasEtarias.shape[0])
df_faixasEtarias.index.name = 'id'
df_faixasEtarias.rename(columns={"idade": "qtde"}, inplace=True)
df_faixasEtarias.head(10)

     qtde     desc_faixa
id
0   40314  30 a 34 anos:
1   39420  35 a 39 anos:
2   37997  25 a 29 anos:
3   32621  40 a 44 anos:
4   24642  20 a 24 anos:
5   24544  45 a 49 anos:
6   18811  50 a 54 anos:
7   13132  55 a 59 anos:
8    6747  60 a 64 anos:
9    2263  65 a 69 anos:

In [43]:
df_faixasEtarias.to_csv(nomeArquivoIdade, sep = ';', encoding='UTF-8')
df_faixasEtarias['qtde'].sum()

241804

In [44]:
#Análise da incidência de óbitos decorrentes dos acidente:
df_obitos = pd.DataFrame(df_result['obito'].value_counts())
df_obitos.rename(columns={"obito": "qtde"}, inplace=True)

df_obitos_mais = df_obitos.head(5).copy()  # pode haver alguma opção para 'não informado'
df_obitos_mais.index.name='obito'

df_obitos_mais.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, Não to Sim
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   qtde    2 non-null      int64
dtypes: int64(1)
memory usage: 32.0+ bytes

In [45]:
df_obitos_mais.head()

         qtde
obito
Não    240750
Sim      1056

In [46]:
#qtde total de casos de ocorrência no dataFrame:
df_obitos_mais['qtde'].sum() #

241806

In [47]:
df_obitos_mais.to_csv(nomeArquivoObitos, sep = ';', encoding='UTF-8')

In [48]:
#Análise da incidência de tipos de acidentes:
df_tipos = pd.DataFrame(df_result['tipo_acidente'].value_counts())
df_tipos.rename(columns={"tipo_acidente": "qtde"}, inplace=True)

df_tipos_mais = df_tipos.head(20).copy()  # pode haver alguma opção para 'não informado'
df_tipos_mais.index.name='tipo_acidente'

df_tipos_mais.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, Típico to Doença
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   qtde    3 non-null      int64
dtypes: int64(1)
memory usage: 48.0+ bytes

In [49]:
df_tipos_mais.head(20)

                 qtde
tipo_acidente
Típico         182056
Trajeto         54964
Doença           4786

In [50]:
#qtde total de casos de ocorrência no dataFrame:
df_tipos_mais['qtde'].sum() #270152

241806

In [51]:
df_tipos_mais.to_csv(nomeArquivoTipoAcidente, sep = ';', encoding='UTF-8')

In [52]:
#Análise da incidência da natureza de acidentes:
df_natureza = pd.DataFrame(df_result['natureza'].value_counts())
df_natureza.rename(columns={"natureza": "qtde"}, inplace=True)

df_natureza_mais = df_natureza.head(20).copy()  # pode haver alguma opção para 'não informado'
df_natureza_mais.index.name='natureza'

df_natureza_mais.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20 entries, Corte, Laceracao, Fe to Choque Eletrico e El
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   qtde    20 non-null     int64
dtypes: int64(1)
memory usage: 320.0+ bytes

In [53]:
df_natureza_mais.head(20)

                       qtde
natureza
Corte, Laceracao, Fe  49984
Fratura               41732
Contusao, Esmagament  36536
Distensao, Torcao     22747
Lesao Imediata, Nic   21668
Escoriacao, Abrasao   19507
Luxacao               12253
Queimadura ou Escald   6694
Lesao Imediata         5773
Doenca, Nic            5613
Lesoes Multiplas       5534
Inflamacao de Articu   2754
Amputacao ou Enuclea   2267
Queimadura Quimica (   1686
Perda ou Diminuicao    1375
Doenca Contagiosa ou   1366
Concussao Cerebral     1313
Dermatose (Erupcao,     856
Envenenamento Sistem    596
Choque Eletrico e El    595

In [54]:
#qtde total de casos de ocorrência no dataFrame:
df_natureza_mais['qtde'].sum() # 240849

240849

In [55]:
df_natureza_mais.to_csv(nomeArquivoNatureza, sep = ';', encoding='UTF-8')