In [1]:
import numpy as np
import pandas as pd
from scipy import special
from random import sample
import itertools
from datetime import timedelta
from IPython.display import display
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import math
import re

In [2]:
arquivoOrigemA = 'datasets/result/dados_cat_201901.csv'
arquivoOrigemB = 'datasets/result/dados_cat_201902.csv'
arquivoOrigemC = 'datasets/result/dados_cat_201903.csv'
arquivoOrigemD = 'datasets/result/dados_cat_201904.csv'
arquivoOrigemE = 'datasets/result/dados_cat_2019A.csv'
nomeArquivoResultado = 'datasets/result/dados_cat_2019.csv'

nomeArquivoCid = 'datasets/result/2019/dados_cid_2019.csv'
nomeArquivoUF = 'datasets/result/2019/dados_uf_2019.csv'
nomeArquivoCBO = 'datasets/result/2019/dados_cbo_2019.csv'
nomeArquivoAnoMes = 'datasets/result/2019/dados_anoMes_2019.csv'
nomeArquivoCNAE = 'datasets/result/2019/dados_cnae_2019.csv'
nomeArquivoParte = 'datasets/result/2019/dados_parte_2019.csv'
nomeArquivoSexo = 'datasets/result/2019/dados_sexo_2019.csv'
nomeArquivoIdade = 'datasets/result/2019/dados_idade_2019.csv'
nomeArquivoObitos = 'datasets/result/2019/dados_obitos_2019.csv'
nomeArquivoTipoAcidente = 'datasets/result/2019/dados_tipoAcidente_2019.csv'
nomeArquivoNatureza = 'datasets/result/2019/dados_natureza_2019.csv'

In [3]:
columns_types = {'agente': str, 'cbo': int, 'cid': str, 'cnae': int, 'obito': str, 'natureza': str, 'parte': str, 'sexo': str, 
                 'tipo_acidente': str, 'uf_emp': str, 'idade': int, 'anoMes': str}

nomes  = ['agente', 'cbo', 'cid', 'cnae', 'obito', 'natureza', 'parte', 'sexo', 'tipo_acidente', 'uf_emp', 'idade', 'anoMes']

dados_originaisA = pd.read_csv(arquivoOrigemA, sep = ';', header=0, names=nomes, dtype=columns_types, encoding='utf8')
dados_originaisB = pd.read_csv(arquivoOrigemB, sep = ';', header=0, names=nomes, dtype=columns_types, encoding='utf8')
dados_originaisC = pd.read_csv(arquivoOrigemC, sep = ';', header=0, names=nomes, dtype=columns_types, encoding='utf8')
dados_originaisD = pd.read_csv(arquivoOrigemD, sep = ';', header=0, names=nomes, dtype=columns_types, encoding='utf8')
dados_originaisE = pd.read_csv(arquivoOrigemE, sep = ';', header=0, names=nomes, dtype=columns_types, encoding='utf8')


df_originalA = pd.DataFrame(data = dados_originaisA)
df_originalB = pd.DataFrame(data = dados_originaisB)
df_originalC = pd.DataFrame(data = dados_originaisC)
df_originalD = pd.DataFrame(data = dados_originaisD)
df_originalE = pd.DataFrame(data = dados_originaisE)

In [4]:
df_result = pd.concat([df_originalA, df_originalB, df_originalC, df_originalD, df_originalE], ignore_index= True)
df_result.index = range(df_result.shape[0])
df_result.shape[0]   #270534 -> qtde total de acidentes analisados de 2020

474047

In [5]:
df_result.to_csv(nomeArquivoResultado, sep = ';', index=False, encoding='UTF-8')

In [6]:
#Análise dos 20 CIDs de maior incidência em 2020:
df_cid = pd.DataFrame(df_result['cid'].value_counts())
df_cid.rename(columns={"id": "cid", "cid": "qtde"}, inplace=True)
df_cid_mais = df_cid.head(20).copy()
df_cid_mais.index.name='cid'

df_cid_mais.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20 entries, S610 to T149
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   qtde    20 non-null     int64
dtypes: int64(1)
memory usage: 320.0+ bytes

In [7]:
df_cid_mais.head(20)

       qtde
cid
S610  28562
S934  18270
S626  14192
Z209  13619
S800  10052
S600   9401
S611   7656
S61    7567
S602   6822
T07    6339
S619   6257
S900   5433
M255   5409
M545   5240
S400   4763
S923   4540
S525   4419
S903   4164
S62    3913
T149   3691

In [8]:
df_cid_mais.to_csv(nomeArquivoCid, sep = ';', encoding='UTF-8')

In [9]:
#qtde total de casos de ocorrência no dataFrame com os 10 maiores CIDs por ordem de ocorrência em 2020:
df_cid_mais['qtde'].sum()  #109885

170309

In [10]:
#Análise das 10 UFs de maior incidência de CAT em 2020:
df_uf = pd.DataFrame(df_result['uf_emp'].value_counts())
df_uf.rename(columns={"uf_emp": "qtde"}, inplace=True)
df_uf_mais = df_uf.head(30).copy()
df_uf_mais.index.name='uf_emp'
df_uf_mais.info()

<class 'pandas.core.frame.DataFrame'>
Index: 27 entries, São Paulo to Amapá
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   qtde    27 non-null     int64
dtypes: int64(1)
memory usage: 432.0+ bytes

In [11]:
df_uf_mais.head(20)

                       qtde
uf_emp
São Paulo            177201
Minas Gerais          48658
Rio Grande do Sul     38683
Paraná                38050
Rio de Janeiro        31683
Santa Catarina        29353
Goiás                 13729
Espírito Santo        11341
Bahia                 11059
Mato Grosso           10482
Pernambuco             9600
Ceará                  9222
Mato Grosso do Sul     7586
Pará                   7077
Distrito Federal       6267
Amazonas               4582
Rio Grande do Norte    3428
Rondônia               2903
Maranhão               2769
Alagoas                2498

In [12]:
#qtde total de casos de ocorrência no dataFrame com os 10 maiores UFs por ordem de ocorrência em 2020:
df_uf_mais['qtde'].sum() #236188

474047

In [13]:
df_uf_mais.to_csv(nomeArquivoUF, sep = ';', encoding='UTF-8')

In [14]:
#Análise das 20 CBOs de maior incidência de CAT em 2019:
df_cbo = pd.DataFrame(df_result['cbo'].value_counts())
df_cbo.rename(columns={"cbo": "qtde"}, inplace=True)
df_cbo_mais = df_cbo.head(20).copy()
df_cbo_mais.index.name='cbo'
df_cbo_mais.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20 entries, 322205 to 514225
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   qtde    20 non-null     int64
dtypes: int64(1)
memory usage: 320.0 bytes

In [15]:
df_cbo_mais.head(20)

         qtde
cbo
322205  30305
784205  27543
514320  18457
782510  11138
717020   9188
521110   7867
411005   7499
514205   7013
521125   6933
411010   6855
513505   6478
322230   6382
223505   6355
848510   5939
783225   5525
911305   5513
414105   5472
415205   5275
513205   5268
514225   4987

In [16]:
#qtde total de casos de ocorrência no dataFrame com os 20 maiores CBOs por ordem de ocorrência em 2020:
df_cbo_mais['qtde'].sum() #86776

189992

In [17]:
df_cbo_mais.to_csv(nomeArquivoCBO, sep = ';', encoding='UTF-8')

In [18]:
#Análise da incidência dos acidentes em meses de 2020:
df_mes = pd.DataFrame(df_result['anoMes'].value_counts())
df_mes.rename(columns={"anoMes": "qtde"}, inplace=True)
df_mes_mais = df_mes.head(12).copy()
df_mes_mais.index.name='anoMes'

df_mes_mais.head(12)

         qtde
anoMes
201910  45389
201905  43669
201908  43486
201907  43215
201904  41455
201901  41446
201909  41444
201902  39695
201903  39157
201906  37708
201911  34017
201912  23366

In [19]:
df_mes_mais.to_csv(nomeArquivoAnoMes, sep = ';', encoding='UTF-8')

In [20]:
#Análise da incidência dos acidentes por CNAE:
df_cnae = pd.DataFrame(df_result['cnae'].value_counts())
df_cnae.rename(columns={"cnae": "qtde"}, inplace=True)

df_cnae_mais = df_cnae.head(20).copy()
df_cnae_mais.index.name='cnae'

df_cnae_mais.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20 entries, 8610 to 4921
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   qtde    20 non-null     int64
dtypes: int64(1)
memory usage: 320.0 bytes

In [21]:
df_cnae_mais.head(20)

       qtde
cnae
8610  51298
4711  19683
4930  12381
8411  12130
1012  10618
5611   9670
4120   8460
3811   7300
5310   7174
1011   6854
8121   5838
5620   5178
8630   5024
4744   4988
8640   4970
1071   4368
7820   4221
4530   3812
4221   3484
4921   3348

In [22]:
#qtde total de casos de ocorrência no dataFrame com os 20 maiores CNAEs por ordem de ocorrência em 2019:
df_cnae_mais['qtde'].sum() #

190799

In [23]:
df_cnae_mais.to_csv(nomeArquivoCNAE, sep = ';', encoding='UTF-8')

In [24]:
#Análise da incidência dos acidentes por parte do corpo atingida:
df_parte = pd.DataFrame(df_result['parte'].value_counts())
df_parte.rename(columns={"parte": "qtde"}, inplace=True)

df_parte_mais = df_parte.head(20).copy()
df_parte_mais.index.name='parte'

df_parte_mais.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20 entries, Dedo to Cabeca, Partes Multi
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   qtde    20 non-null     int64
dtypes: int64(1)
memory usage: 320.0+ bytes

In [25]:
df_parte_mais.head(20)

                        qtde
parte
Dedo                  113138
Pe (Exceto Artelhos)   39635
Mao (Exceto Punho ou   35182
Joelho                 24534
Partes Multiplas - A   22293
Articulacao do Torno   19662
Perna (Do Tornozelo,   17311
Antebraco (Entre O P   15816
Perna (Entre O Torno   15600
Ombro                  15201
Braco (Entre O Punho   15093
Olho (Inclusive Nerv   14648
Cabeca, Nic            14107
Dorso (Inclusive Mus   12931
Membros Superiores,    12674
Membros Inferiores,    11060
Punho                  11052
Face, Partes Multipl    7821
Sistema Nervoso         6081
Cabeca, Partes Multi    5696

In [26]:
#qtde total de casos de ocorrência no dataFrame com os 20 maiores CNAEs por ordem de ocorrência em 201920:
df_parte_mais['qtde'].sum() #

429535

In [27]:
df_parte_mais.to_csv(nomeArquivoParte, sep = ';', encoding='UTF-8')

In [28]:
#Análise da incidência dos acidentes, separados por sexo (M ou F):
df_sexo = pd.DataFrame(df_result['sexo'].value_counts())
df_sexo.rename(columns={"sexo": "qtde"}, inplace=True)

df_sexo_mais = df_sexo.head(5).copy()  # pode haver alguma opção para 'não informado'
df_sexo_mais.index.name='sexo'

df_sexo_mais.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, Masculino to Indeterminado
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   qtde    4 non-null      int64
dtypes: int64(1)
memory usage: 64.0+ bytes

In [29]:
df_sexo_mais.head()

                 qtde
sexo
Masculino      315270
Feminino       158653
Não Informado     115
Indeterminado       9

In [30]:
#qtde total de casos de ocorrência no dataFrame com os 20 maiores CNAEs por ordem de ocorrência em 2019:
df_sexo_mais['qtde'].sum() #

474047

In [31]:
df_sexo_mais.to_csv(nomeArquivoSexo, sep = ';', encoding='UTF-8')

In [32]:
df_result['idade'].min() #10 ???

10

In [33]:
selecao = df_result['idade'] < 14 # idade mínima para jovem aprendiz é de 14 anos, porém foi encontrado 1 registro < 14
df_min = df_result[selecao]
df_min.head(10)
df_min.shape[0]   # <=20 -> 9024    <=14 -> 2    <= 15 -> 7

1

In [34]:
df_result['idade'].max()  #86

97

In [35]:
classes = [13, 19, 24, 29, 34, 39, 44, 49, 54, 59, 64, 69, 100]
faixas = pd.cut(df_result.idade, classes)

In [36]:
pd.value_counts(faixas)

(29, 34]     77052
(24, 29]     75417
(34, 39]     75188
(39, 44]     62465
(19, 24]     57960
(44, 49]     46530
(49, 54]     35726
(54, 59]     24362
(59, 64]     11759
(64, 69]      3951
(13, 19]      2326
(69, 100]     1310
Name: idade, dtype: int64

In [37]:
labels = ['14 a 19 anos: ', '20 a 24 anos:', '25 a 29 anos:', '30 a 34 anos:', '35 a 39 anos:', '40 a 44 anos:', 
          '45 a 49 anos:', '50 a 54 anos:', '55 a 59 anos:', '60 a 64 anos:', '65 a 69 anos:', '70 a 100 anos:']
faixas_labels = pd.cut(df_result.idade, classes, labels = labels)
pd.value_counts(faixas_labels)

30 a 34 anos:     77052
25 a 29 anos:     75417
35 a 39 anos:     75188
40 a 44 anos:     62465
20 a 24 anos:     57960
45 a 49 anos:     46530
50 a 54 anos:     35726
55 a 59 anos:     24362
60 a 64 anos:     11759
65 a 69 anos:      3951
14 a 19 anos:      2326
70 a 100 anos:     1310
Name: idade, dtype: int64

In [38]:
df_faixasEtarias = pd.DataFrame(pd.value_counts(faixas_labels))

In [39]:
df_faixasEtarias.head(10)

               idade
30 a 34 anos:  77052
25 a 29 anos:  75417
35 a 39 anos:  75188
40 a 44 anos:  62465
20 a 24 anos:  57960
45 a 49 anos:  46530
50 a 54 anos:  35726
55 a 59 anos:  24362
60 a 64 anos:  11759
65 a 69 anos:   3951

In [40]:
df_faixasEtarias['desc_faixa'] = df_faixasEtarias.index

In [41]:
df_faixasEtarias.head(10)

               idade     desc_faixa
30 a 34 anos:  77052  30 a 34 anos:
25 a 29 anos:  75417  25 a 29 anos:
35 a 39 anos:  75188  35 a 39 anos:
40 a 44 anos:  62465  40 a 44 anos:
20 a 24 anos:  57960  20 a 24 anos:
45 a 49 anos:  46530  45 a 49 anos:
50 a 54 anos:  35726  50 a 54 anos:
55 a 59 anos:  24362  55 a 59 anos:
60 a 64 anos:  11759  60 a 64 anos:
65 a 69 anos:   3951  65 a 69 anos:

In [42]:
df_faixasEtarias.index = range(df_faixasEtarias.shape[0])
df_faixasEtarias.index.name = 'id'
df_faixasEtarias.rename(columns={"idade": "qtde"}, inplace=True)
df_faixasEtarias.head(10)

     qtde     desc_faixa
id
0   77052  30 a 34 anos:
1   75417  25 a 29 anos:
2   75188  35 a 39 anos:
3   62465  40 a 44 anos:
4   57960  20 a 24 anos:
5   46530  45 a 49 anos:
6   35726  50 a 54 anos:
7   24362  55 a 59 anos:
8   11759  60 a 64 anos:
9    3951  65 a 69 anos:

In [43]:
df_faixasEtarias.to_csv(nomeArquivoIdade, sep = ';', encoding='UTF-8')
df_faixasEtarias['qtde'].sum() #474043

474046

In [44]:
#Análise da incidência de óbitos decorrentes dos acidente:
df_obitos = pd.DataFrame(df_result['obito'].value_counts())
df_obitos.rename(columns={"obito": "qtde"}, inplace=True)

df_obitos_mais = df_obitos.head(5).copy()  # pode haver alguma opção para 'não informado'
df_obitos_mais.index.name='obito'

df_obitos_mais.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, Não to Sim
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   qtde    2 non-null      int64
dtypes: int64(1)
memory usage: 32.0+ bytes

In [45]:
df_obitos_mais.head()

         qtde
obito
Não    471971
Sim      2076

In [46]:
#qtde total de casos de ocorrência no dataFrame:
df_obitos_mais['qtde'].sum() #

474047

In [47]:
df_obitos_mais.to_csv(nomeArquivoObitos, sep = ';', encoding='UTF-8')

In [48]:
#Análise da incidência de tipos de acidentes:
df_tipos = pd.DataFrame(df_result['tipo_acidente'].value_counts())
df_tipos.rename(columns={"tipo_acidente": "qtde"}, inplace=True)

df_tipos_mais = df_tipos.head(20).copy()  # pode haver alguma opção para 'não informado'
df_tipos_mais.index.name='tipo_acidente'

df_tipos_mais.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, Típico to Doença
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   qtde    3 non-null      int64
dtypes: int64(1)
memory usage: 48.0+ bytes

In [49]:
df_tipos_mais.head(20)

                 qtde
tipo_acidente
Típico         364787
Trajeto        100713
Doença           8547

In [50]:
#qtde total de casos de ocorrência no dataFrame:
df_tipos_mais['qtde'].sum() #270152

474047

In [51]:
df_tipos_mais.to_csv(nomeArquivoTipoAcidente, sep = ';', encoding='UTF-8')

In [52]:
#Análise da incidência da natureza de acidentes:
df_natureza = pd.DataFrame(df_result['natureza'].value_counts())
df_natureza.rename(columns={"natureza": "qtde"}, inplace=True)

df_natureza_mais = df_natureza.head(20).copy()  # pode haver alguma opção para 'não informado'
df_natureza_mais.index.name='natureza'

df_natureza_mais.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20 entries, Corte, Laceracao, Fe to Envenenamento Sistem
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   qtde    20 non-null     int64
dtypes: int64(1)
memory usage: 320.0+ bytes

In [53]:
df_natureza_mais.head(20)

                       qtde
natureza
Corte, Laceracao, Fe  99688
Fratura               80367
Contusao, Esmagament  69097
Lesao Imediata, Nic   45541
Distensao, Torcao     43587
Escoriacao, Abrasao   38689
Luxacao               24534
Queimadura ou Escald  12950
Lesoes Multiplas      11635
Lesao Imediata        11432
Doenca, Nic            9705
Inflamacao de Articu   4755
Amputacao ou Enuclea   4216
Queimadura Quimica (   3467
Doenca Contagiosa ou   3207
Perda ou Diminuicao    2938
Concussao Cerebral     2084
Dermatose (Erupcao,    1639
Choque Eletrico e El   1362
Envenenamento Sistem   1173

In [54]:
#qtde total de casos de ocorrência no dataFrame:
df_natureza_mais['qtde'].sum() # 472066

472066

In [55]:
df_natureza_mais.to_csv(nomeArquivoNatureza, sep = ';', encoding='UTF-8')